* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background:

}
header{
    display: flex;
    flex-basis: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    border: solid red 1px;
}
.calendar-wrap .day{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    border-top: solid green 2px;
    border-left: solid green 2px;
}
.day-content {
    display: flex;
    flex-direction: row;

}