* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Muli", Helvetica, sans-serif;
    background-color:#F7F4F4;  
}
.calendar-wrap{
    background-color: white;
}
header{
    display: flex;
    flex-basis: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    width: 100%;
    background-color: #67BBF0;
    color: white;
}

a{
    text-decoration: none;
}
header a {
    color: #F7F4F4;
    font-weight: bold;
    padding: 10px;
}
header a:hover{
    text-decoration: underline;
}
li{
    list-style: none;
}
.cal-nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: baseline;
    background-color: #F7F4F4;
}
.cal-nav-wrap button{
    padding: 5px;
}
.cal-nav-wrap h3{
    margin-bottom: 5px;
    font-size: 1.5em;
}
.cal-nav{
    display: flex;
    flex-direction: row;
}
.cal-nav-right,
.cal-nav-left{
    display: flex;
    flex-direction: row;
}
.calendar-wrap{
    margin: 2em;
}
.calendar .week{
    display: flex;
    flex-direction: column;
/*     grid-template-rows: repeat(7, 1fr); */
}

.calendar .day{
    border: solid black 2px;
    min-height: 100px;
}
.week{
    display: flex;
    flex-direction: row;
}
.date {
  margin: 5px 0 5px 5px;
}

.cal-nav-wrap button{
  margin: 3px;
  padding: 8px;
  font-weight: bold;
  font-size:0.8em;
  background-color: #67BBF0;
  color: white;
  border-radius: 2px;
  border:none;
}

button:active {
    transform: translateY(1px);
    background-color: #07ffa4;
    color: black;
}

footer{
    display: flex;
    float: row;
    justify-content: center;
}
ol, ul {
  list-style: none;
}
img {
  max-height: 150px;
  max-width:150px;
}
.post-preview{
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
/*   padding: 10px 0px; */
  border: solid 1px #2F2F2F;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  background-color: DarkTurquoise;
  position: relative;
}

.preview-img{
  position: relative;
  opacity: 1;
/*   transition: 0.3s ease-in; */
}
.social-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
/*   border: solid green 2px; */
}
.social-links li {
  padding: 5px;
}
/* is there a more elegant way to align the content over the image? */
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 11%;
  height: 76%;
  transition: 0.3s linear;
  opacity: 0;
/*   border: solid red 1px; */
}
.content p {
  overflow: hidden;
} 
.post-preview:hover .content{
  opacity: 1;
  background-color: AliceBlue;

}
.post-preview:hover .preview-img{
  opacity: 0.5;
}

.ready-or-not{
  display: flex;
  width: 100%;
  font-weight: bold;
  padding: 5px 5px 0 5px;
  justify-content: space-between;
}

@media only screen and (max-width: 480px){
    section h3{
     display: none;
    }
}
checkbox:checked{
    background-color: green;
}
input:checked #ready-or-not {
    background-color: green;
    color: green;
}
#ready-or-not input[type="checkbox"]:checked + label:after {
    font-weight: bold;
    background-color: green;
    color: green;
  }