* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 
colors #eff4f6 , #7BABC3, #6DD8D1, #42A3C3, #293A81 */
/* ----------------------
Main styles
------------------------*/

body{
    font-family: "Muli", Helvetica, sans-serif;
    background-color:#F7F4F4;  
}
header{
  display: flex;
  flex-basis: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  width: 100%;
  background-color: #293A81;
  color: white;
}
a{
  text-decoration: none;
}
header a {
  color: #F7F4F4;
  font-weight: bold;
  padding: 10px;
}
header a:hover{
  text-decoration: underline;
}
li{
  list-style: none;
}

/* --------------------
Cal topper - Date and nav
-----------------------*/

.calendar-wrap{
    background-color: white;
    /* border: solid purple 10px; */

}
/*----------------------
cal-body styling 
-----------------------*/
.cal-nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: flex-end;
    background-color: #F7F4F4;
    margin-bottom: 5px;
    border: solid red 2px;
}
.cal-nav-wrap button{
    padding: 5px;
}
.cal-nav-wrap h1{
    font-size: 2rem;
}
.cal-nav{
    display: flex;
    flex-direction: row;
  
}
.calendar-wrap{
    margin: 2rem 4rem; 
}

.calendar .week{
    display: flex;
    flex-direction: column;
/*     grid-template-rows: repeat(7, 1fr); */
}

.calendar .day{
    border: solid black 2px;
    min-height: 80px;
}
.week{
    display: flex;
    flex-direction: row;
}
.date {
  margin: 5px 0 5px 5px;
}
/* ---------------------
Button styling 
-----------------------*/
.cal-nav-wrap button{
  margin: 3px;
  padding: 8px;
  font-weight: bold;
  font-size:0.8em;
  background-color: #42A3C3;
  color: white;
  border-radius: 2px;
  /* border:none; */
}

button:active {
    transform: translateY(1px);
    background-color: #6DD8D1;
    color: black;
}
.content button{
  padding: 2px 5px 2px 5px;
 
  background-color: deeppink;
}
/*-----------------------
Post Preview Styling
------------------------*/

img {
  max-height: 150px;
  max-width:150px;
}
.post-preview{
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border: solid 1px #2F2F2F;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  background-color: DarkTurquoise;
  position: relative;
}

.preview-img{
  position: relative;
  opacity: 1;
}
.ready-or-not{
  display: flex;
  width: 100%;
  font-weight: bold;
  padding: 5px 5px 0 5px;
  justify-content: space-between;
}

.social-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
/*   border: solid green 2px; */
}
.social-links li {
  padding: 5px;
}
/* is there a more elegant way to align the content over the image? */
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: absolute;
  max-height: 150px;
  max-width:150px;
  top: 12%;
  height: 77%;
  transition: 0.3s linear;
  opacity: 0;
}
.content p {
  overflow: hidden;
} 

.post-preview:hover .content{
  opacity: 0.8;
  background-color: AliceBlue;
}


footer{
  display: flex;
  float: row;
  justify-content: center;
}


/*----------------------------
Media Q's
----------------------------*/
@media only screen and (max-width: 480px){
    section h3{
     display: none;
    }
}

/* --------------------------
Attempts at styling checkboxes
----------------------------*/
checkbox:checked{
    background-color: green;
}
input:checked #ready-or-not {
    background-color: green;
    color: green;
}
#ready-or-not input[type="checkbox"]:checked + label:after {
    font-weight: bold;
    background-color: green;
    color: green;
  }

  